.main-article {
    display: flex;
    max-width: 800px;
    margin: 40px auto;
    align-items: flex-start;
}

.main-article-content {
    flex: 2;
    margin-right: 20px;
}

.main-article h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.main-article p {
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
}

.main-article-image-container {
    flex: 1;
    margin-top: 120px;
}

.main-article-image {
    width: 200%;
    height: 500%;
    border-radius: 5px;
}

.cta-button {
    color: white;
    background-color: #386385;
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.cta-button:hover {
    background-color: #2e5070;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .main-article {
        flex-direction: column;
        align-items: center;
    }

    .main-article-content {
        margin-right: 0;
    }

    .main-article-image-container {
        margin-top: 20px;
        width: 100%;
    }

    .main-article-image {
        width: 100%;
    }
}
